html {
  overflow-y: scroll;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
strong {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:bold;
}
.clipboard {
    display:none;
}

.navbar {
    position:fixed;
    top:0;
    width:100%;
    z-index:99999;
    height:37px;
}
.navbar .navbar-inner {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#error-container {
    position:fixed;
    top:0;
    width:100%;
    z-index:88888;
    padding-top:34px;
}
#error-container .error {
    background:rgb(236,73,73);
    color: rgb(46, 46, 46);
}
#error-container .warn {
    background:#fdd400;
}
#error-container .container > * {
    display:inline-block;
    vertical-align:middle;
}
.caution-image {
    float: left;
    margin-right: 10px;
}
#error-container > div {
    margin-top: -100%;
    padding:6px 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
#error-container .container {
    padding:0 20px;
}
#activity-monitor {
    display:none;
    float:right;
    margin-top: 9px;
    margin-right: 10px;
}
.container.page_wrap {
    padding-top:50px;
    min-height:500px;
}
.navbar .brand {
    margin-right:0;
}
.navbar .brand .logo {
    width:150px;
}

.file {
  border-radius: 2px;
  border: 1px solid rgb(175,175,175);
  overflow-x:hidden;
}
.file .meta {
  width:100%;
  padding: 0px 10px 0px 32px;
  border-bottom: 1px solid rgb(175,175,175);
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: -ms-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: -o-linear-gradient(top, #f2f2f2, #e8e8e8);
  background-image: linear-gradient(top, #f2f2f2, #e8e8e8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e8e8e8', GradientType=0);
  font-size: 18px;
  line-height: 32px;
  font-weight:bold;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table.illustrate-data tr {
  display:none;
}
.inline-illustrate-data.selected table tr, 
table.illustrate-data thead tr:first-child,
.inline-illustrate-data.preview table tr {
  display:table-row;
}
.inline-illustrate-data.preview table tr:nth-child(7) ~ tr {
  display:none;
}
.inline-illustrate-data > td {
  padding: 0;
  background: rgb(235,235,235);
  overflow: hidden;
}
.table-scroll-wrapper {
  overflow-x:auto;
  width:938px;
}
.illustrate-shadow-wrapper {
  position:relative;
}
.illustrate-shadow {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  pointer-events:none;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.4) inset;
  border-top: 1px solid rgb(150,150,150);
  border-bottom: 1px solid rgb(150,150,150);
}
.inline-illustrate-data .table-notifier .table-notifier-arrow {
  height:16px;
  width:16px;
  background-position: 0 0;
  background-image: url('/images/arrows.png');
}
.inline-illustrate-data .table-notifier {
  cursor:pointer;
  position:absolute;
  top:0;
  left:100%;
  padding: 5px 5px 6px 5px;
  margin-left: -27px;
  background: rgb(174,174,174);
  border-left: 1px solid rgb(80,80,80);
  border-bottom: 1px solid rgb(80,80,80);
  pointer-events:none;
}
.inline-illustrate-data.preview .table-notifier .table-notifier-arrow {
  background-position: -16px 0;
}
.inline-illustrate-data.selected .table-notifier .table-notifier-arrow {
  background-position: -32px 0;
}
table.illustrate-data.selected {
  display:table;
}
table.illustrate-data {
  display:none;
  min-width: 100%; 
  table-layout:fixed;
  empty-cells:show;
}
table.illustrate-data thead {
  background: rgb(174,174,174);
  cursor: pointer;
}
table.illustrate-data th:last-child {
  width: 100%;
  border-right: none;
}
table.illustrate-data td, 
table.illustrate-data th {
  max-width: 250px;
  text-overflow:ellipsis;
  word-wrap:break-word;
}
table.illustrate-data td {
  border-right: 1px solid rgb(200,200,200);
  border-top: 1px solid rgb(200,200,200);
}
table.illustrate-data th {
  padding: 4px 10px;
  border-bottom: 1px solid rgb(140,140,140);
  border-right: 1px solid rgb(112,112,112);
}
table.illustrate-data thead th:first-child { position: relative; }
table.illustrate-data thead th:first-child:before {
  display:none;
  content : "";
  position:absolute;
  left: 45px;
  top: 0;
  margin-top: -13px;
  border: solid transparent;
  border-bottom-color: #777;
  border-width:9px;
}
table.file-data {
  width: 100%;
}
table.file-data tr.line-buffer td.line-number {
  font-size: 1px;
  line-height: 10px;
}
table.file-data td.line-number {
  vertical-align:top;
  width: 1%;
  text-align:right;
  line-height:22px;
  padding: 0 6px;
  background:#e8e8e8;
  color: rgb(90,90,90);
}
table.file-data td.line-code {
  line-height:20px;
  max-width:887px;
  word-wrap: break-word;
  word-break: break-all;
  font-family: menlo;
  font-size:14px;
  white-space:pre-wrap;
  padding: 0 8px;
  background-color: rgb(250,250,250);
}
table.file-data td.line-code .alias {
  border-bottom: 1px dotted black;
  cursor:pointer;
}
table.file-data td.line-code .alias.active {
  font-family: menlo;
  font-weight: bold;
  font-size: 16px;
  border-bottom:none;
  cursor:default;
}
