<!-- Underscore Illustrate Templates --> 
<script type="text/template" id="template_illustrate">
  <% var line_number = 1; %>
  <div class="file">
    <div class="meta">
      <%= WATCHED_FILE %>
    </div>
    <table class="file-data">
      <% _.each(splits, function(split, split_index) { %>
        <% _.each(split.text.split("\n"), function(line) { %>
          <tr class="line">
            <td class="line-number"><%= line_number %></td>
            <td class="line-code"><%= line %></td>
          </tr>
          <% line_number += 1 %>
        <% }); %>

        <% if(split.tables) { %>
          <tr class="line-buffer">
            <td class="line-number">&nbsp;</td>
            <td class="line-code">&nbsp;</td>
          </tr>
          <tr data-statement="<%= split_index %>" class="inline-illustrate-data <%= split['state'] || 'preview' %>">
            <td colspan="2">
              <div class="illustrate-shadow-wrapper">
                <div class="table-notifier">
                  <div class="table-notifier-arrow">&nbsp;</div>
                </div>
                <div class="table-scroll-wrapper">
                  <% _.each(split.tables, function(table, table_index) { %>
                    <table class="illustrate-data <% if(table_index == 0) { %>selected<% } %>">
                      <thead>
                        <tr>
                          <% _.each(table["fields"], function(field) { %>
                            <th><%- field %></th>
                          <% }); %>
                          <!-- For spacing issues -->
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% _.each(table.data, function(row, row_index) { %>
                          <tr>
                            <% _.each(row, function(value, item_index) { %>
                              <% if (value.trim() != "") { %>
                                <td class="mortar-table-expandable-cell">
                                  <div class="mortar-table-expandable-cell-wrapper">
                                    <div class="mortar-table-expandable-cell-container">
                                      <div class="mortar-table-expandable-cell-preview">
                                        <%- Mortar.Util.truncate(value, 30) %>
                                      </div>
                                      <div class="mortar-table-expandable-cell-content">
                                        <%- value %>
                                      </div>
                                    </div>
                                    <div class="mortar-table-expandable-cell-shadow"></div>
                                  </div>
                                </td>
                              <% } else { %>
                                <td>
                                </td>
                              <% } %>
                            <% }); %>
                          </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  <% }); %>
                </div>
                <div class="illustrate-shadow"></div>
              </div>
            </td>
          </tr>
        <% } %>
        <tr class="line-buffer">
          <td class="line-number">&nbsp;</td>
          <td class="line-code">&nbsp;</td>
        </tr>
      <% }); %>
    </table>
  </div>
  <% if (udf_output && (udf_output.length > 0)) {  %>
    <h3 class="illustrate_alias">UDF Output: </h3>
    </br>
    <pre id="illustrate_udf_output"><%- udf_output %></pre>
  <% } %>
</script> 
