<html>
  <head>
    <title>Mortar – Watchtower</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/css/illustrate.css" type="text/css" />
    <link rel="stylesheet" href="/css/mortar-table.css" type="text/css" />
    <script type="text/javascript">
      var WATCHED_FILE = "<%= settings.title.capitalize %>";
    </script>
  </head>
  
  <body class="not-scrolling">
  
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="brand">
          <img class="logo" src="/images/mortar_logo.png">
        </div>
        <img id="activity-monitor" src="/images/spinner.gif">
      </div>
    </div>
  </div>
  <div id="error-container">
  </div>

  <div class="container page_wrap">
    <div class="row row-margin">
      <div class="span12">
        <h2>Watching: <%= settings.title.capitalize %></h2>
      </div>
    </div>
    <div id="illustrate_content">

    </div>
  </div>
  <script src="/js/lib/jquery-1.10.2.min.js"></script>
  <script src="/js/lib/jquery.transit.js"></script>
  <script src="/js/lib/jquery.stylestack.js"></script>
  <script src="/js/lib/zero_clipboard.js"></script>
  <script src="/js/lib/underscore.js"></script>
  <script src="/js/mortar-table.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/parser.js"></script>
  <script src="/js/illustrate-live.js"></script>
  <script src="/js/illustrate-watcher.js"></script>
  <script src="/js/illustrate-viewer.js"></script>
  <script src="/js/error_panel.js"></script>
  <%= @illustrate_templates %>
  <%= @error_templates %>
  </body>

</html>
